{% extends 'blog/base.html' %}

{% block content %}
    <article class="post">
        <aside class="actions">
            {% if user.is_authenticated %}
                <a class="btn btn-secondary" href="{% url 'post_edit' pk=post.pk %}">
                    {% include './icons/pencil-fill.svg' %}
                </a>
                
                <a class="btn btn-secondary" href="{% url 'post_remove' pk=post.pk %}">
                    {% include './icons/delete.svg' %}
                </a>
            {% endif %}
        </aside>
        {% if post.published_date %}
            <time class="date">
                {{ post.published_date }}
            </time>
         {% else %}       
            <a class="save btn btn-secondary" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
        {% endif %}
        <h2>{{ post.title }}</h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </article>

    <hr>
    <a class="btn btn-secondary" href="{% url 'add_comment_to_post' pk=post.pk %}">Add Comment</a>
    
        {% for comment in post.comments.all %}
            <div class="comment">
                <time>{{ comment.created_date }}</time>
                <strong>{{ comment.author }}</strong>
                <p>{{ comment.text|linebreaks }}</p>
            </div>
        {% empty %}
            <p>No comments here yet</p>
        {% endfor %}
{% endblock %}